<html>
    <script src="{{ url_for('static', filename='js/lib/base64.js') }}"></script>
    <script src="{{ url_for('static', filename='js/webauthn.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <title>WebAuthn - 200</title>
    <body>
        <h1>WebAuthn - 200</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="flash">{{ message }}</li>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </body>
</html>
